# Specify the Python version if necessary
python>=3.8

# Specify a Streamlit version compatible with your Python version
streamlit==0.88.0

# Remove the streamlit-lottie dependency or specify a compatible version if available
# streamlit-lottie==0.10.0

Pillow==8.4.0

